# Node/Next.js (client)
client/node_modules/
client/.next/
client/out/
client/.pnp
client/pnp.*
client/.env*
client/.vercel
client/coverage
client/build
client/yarn-debug.log*
client/yarn-error.log*
client/npm-debug.log*
client/.pnpm-debug.log*
client/.DS_Store
client/.nvmrc

# Python (server)
server/__pycache__/
server/.venv/
server/env/
server/*.pyc
server/.env*
server/.DS_Store

# Misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts